<% include partials/header %>

	<!-- <div class="container"> -->
		<div class="row">
			<div class="col-lg-2">
				<div class="nav">
					<a id="brand-img" href="#"><b>Doodle Brand Image</b></a>
					<a href="#">Home</a>
			 		<a href="#">Projects</a>
			 		<a href="#">About</a>
			 		<a href="/logout">Signout</a>

				</div>		
 			</div>  
 			<div class="col-lg-10">
 			    <h1>Welcome to Dashboard!!</h1>
 			</div>
 		</div>



<% include partials/footer %>